<!DOCTYPE html>
<html lang="en">

<head>
    <title>stat_summary</title>
    <style>
     h1{text-align: center;}
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: underline;
        color: #ffffff;
        background-color: #008080;
        border-radius: 6px;
        outline: none;
      }
    </style>
</head>
<body>
    <h1>Dream House Finance</h1>
    <h1>Statistical Summary Of Registered Users</h1>
    
    <table>
        <thead>
           <tr>
              <th>UserName</th>
              <th>Gender</th>
              <th>Loan_Approved</th>
           </tr>
        </thead>
        
        <tbody>
           {% for user in stat_details %}
              <tr>
                 <td>{{ user.user_id }}</td>
                 <td>{{ user.gender }}</td>
                 <td>{{ user.loan_approved }}</td>
              </tr>
           {% endfor %}
        </tbody>
     </table>
     <br><br>
     <a class="button" href="./summary_report">Get Summary Report</a>


</body>
</html>